#wrap {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.logo-box {
    width: 200px;
    float: left;
}

.logo-box img {
    height: 50px;
}

.menu {
    list-style: none;
}

.menuTitle {
    float: left;
    margin-left: 80px;
}

#box2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    row-gap: 50px;
}

.items{
    width: 300px;
    border: 2px solid red;
    /* overflow: hidden; */
}